<div class="container login">
  <div class="row justify-content-center login__row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 login__inner">

      <!-- フラッシュ -->
      <% if flash[:alert] %>
        <div class="login__flash login__flash--alert">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="login__flash login__flash--notice">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <h2 class="login__title">Log in</h2>

      <%= form_with url: session_path, class: "login__form" do |form| %>

        <div class="login__group">
          <%= form.label :name, class: "login__label" %>
          <%= form.text_field :name,
              required: true,
              autofocus: true,
              autocomplete: "username",
              value: params[:name],
              class: "form-control login__input" %>
        </div>

        <div class="login__group">
          <%= form.label :password, class: "login__label" %>
          <%= form.password_field :password,
              required: true,
              autocomplete: "current-password",
              class: "form-control login__input" %>
        </div>

        <div class="login__group login__group--inline">
          <%= form.check_box :remember_me, class: "login__checkbox" %>
          <%= form.label :remember_me,
              "Remember me",
              class: "login__checkbox-label" %>
        </div>

        <div class="login__actions">
          <%= form.submit "Log in",
              class: "btn btn-sm btn-primary login__submit" %>
        </div>

      <% end %>

      <div class="login__links">
        <%= link_to "Sign up",
            new_user_path,
            class: "login__link" %>
      </div>

      <div class="login__links">
        <%= link_to "Forgot password?",
            new_password_path,
            class: "login__link" %>
      </div>

    </div>
  </div>
</div>