<%= render "users/user_info", user: Current.user %>
<%= render "books/form", book: Book.new %>
<h2>Users</h2>
<p>image</p>
<p>name</p>

<% @users.each do |user| %>
  <div>
  <% if user.profile_image.attached? %>
    <%= image_tag user.profile_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'noimage.jpg', size: "100x100" %>
  <% end %>
    <%= link_to user.name, user_path(user) %>
  </div>
<% end %>