<div class="container px-5 px-sm-0">
	<div class="row">

  <div class="col-md-3">
    <%= render "users/user_info", user: Current.user %>
    <%= render "books/form", book: Book.new %>
  </div>

<div class="col-md-8 offset-md-1">
<h2>Users</h2>

<%= link_to "グループを作成する", new_group_path %>
<%= link_to "グループ一覧", groups_path %>

<table class="table table-hover table-inverse">

  <thead>
  <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
  <tr>
  <td>
  <% if user.profile_image.attached? %>
    <%= image_tag user.profile_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'noimage.jpg', size: "100x100" %>
  <% end %>
  </td>
  <td><%= user.name %></td>
  <td>フォロー数：<%= user.followings.count %></td>
  <td>フォロワー数：<%= user.followers.count %></td>
  <td>
    <% if Current.user != user %>
      <% if Current.user.following?(user) %>
        <%= link_to "フォロー解除",
        user_relationships_path(user),
        data: { turbo_method: :delete },
        class: "btn btn-danger" %>
      <% else %>
        <%= link_to "フォロー",
          user_relationships_path(user),
          data: { turbo_method: :post },
          class: "btn btn-primary"%>
      <% end %>
    <% end %>
  </td>
  <td><%= link_to "Show", user_path(user) %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
</div>

  </div>
</div>