<tr class="book-row">
  <td class="book-row__user">
    <%= link_to user_path(book.user), class: "book-row__user-link" do %>
      <%= image_tag book.user.get_profile_image(100,100), width: 100, height: 100 %>
    <% end %>
  </td>
  <td class="book-row__title"><%= link_to book.title, book_path(book) %></td>
  <td class="book-row__body"><%= book.body %></td>
  <td class="book-row__tags">
  <% book.tags.each do |tag| %>
    <%= link_to tag.name, books_path(tag: tag.name) %>
  <% end %>
  </td>
  <td class="book-row__rating"><div class="raty-readonly" data-score="<%= book.rating %>"></div></td>
</tr>