<div class="container px-5 px-sm-0 books-index">
	<div class="row books-index__row">

  <div class="col-md-3 books-index__sidebar">
    <div class="books-index__user-info">
      <%= render "users/user_info", user: Current.user %>
    </div>

    <div class="books-index__form">
      <%= render "books/form", book: Book.new %>
    </div>
  </div>

<div class="col-md-8 offset-md-1 books-index__main">
  <h2 class="books-index__title">Books</h2>

<div class="books-index__sort">
  <%= link_to "新着順", books_path(sort: "new") %> |
  <%= link_to "評価の高い順", books_path(sort: "rate") %>
</div>

<table class="table table-hover table-inverse books-index__table">

  <thead class="books-index__thead">
  <tr class="books-index__header-row">
    <th class="books-index__header"></th>
    <th class="books-index__header">Title</th>
    <th class="books-index__header">Opinion</th>
    <th class="books-index__header">Tag</th>
    <th class="books-index__header"></th>
    <th class="books-index__header"></th>
    <th class="books-index__header"></th>
    <th class="books-index__header"></th>
  </tr>
  </thead>

  <tbody class="books-index__body">
    <% @books.each do |book| %>
      <tr class="books-index__row-item">

        <td class="books-index__user">
          <%= link_to user_path(book.user), class: "books-index__user-link" do %>
            <% if book.user.profile_image.attached? %>
              <%= image_tag book.user.profile_image, size: "100x100" %>
            <% else %>
              <%= image_tag "noimage.jpg", size: "100x100" %>
            <% end %>
           <% end %>
        </td>

        <td class="books-index__book-title"><%= link_to book.title, book_path(book) %></td>
        <td class="books-index__book-body"><%= book.body %></td>
        <td class="books-index__tags">
          <% book.tags.each do |tag| %>
            <%= link_to tag.name, books_path(tag: tag.name), class: "books-index__tag" %>
          <% end %>
        </td>
        <td class="books-index__favorite"><%= render "favorites/favorite_btn", book: book %></td>
        <td class="books-index__comments"><p class="books-index__comment-count">コメント数：<%= book.book_comments.count %></p></td>
        <td class="books-index__views">閲覧数： <%= book.view_count %></td>
        <td class="books-index__rating"><div class="raty-readonly" data-score="<%= book.rating %>"></div></td>
      </tr>
    <% end %>
  </tbody>

  </table>
</div>

  </div>
</div>