<%= render "users/user_info", user: @book.user %>
<h2>Book detail</h2>

  <% if @book.user.profile_image.attached? %>
    <%= image_tag @book.user.profile_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'noimage.jpg', size: "100x100" %>
  <% end %>
  <%= link_to @book.user.name, user_path(@book.user) %>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
  <% if @book.user == Current.user %>
  <%= link_to "Edit", edit_book_path(@book) %>
  <%= link_to "destroy", book_path(@book), data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？" } %>
  <% end %>

  
