<div class="container chat">
  <div class="d-flex justify-content-center chat__wrapper">

    <div class="col-md-6 col-lg-5 chat__inner">

      <div class="d-flex flex-column chat__messages">

        <% @messages.each do |message| %>

          <% if message.user == Current.user %>
            <div class="d-flex justify-content-end mb-2 chat__message chat__message--own">
              <div class="bg-primary text-white rounded-pill px-3 py-2 text-end chat__bubble">
                <%= message.content %>
              </div>
            </div>
          <% else %>
            <div class="d-flex justify-content-start mb-2 chat__message chat__message--other">
              <div class="bg-light rounded-pill px-3 py-2 chat__bubble">
                <%= message.content %>
              </div>
            </div>
          <% end %>

        <% end %>

      </div>

      <div class="chat__form-area">
        <%= form_with model: [@room, Message.new], class: "chat__form d-flex gap-2 mt-3" do |f| %>
          <%= f.text_field :content,
              class: "form-control chat__input",
              placeholder: "メッセージを入力" %>

          <%= f.submit "送信",
              class: "btn btn-primary chat__submit" %>
        <% end %>
      </div>

    </div>

  </div>
</div>