<div class="container d-flex justify-content-center">

  <div class="col-md-6 col-lg-5">

    <div class="d-flex flex-column">

      <% @messages.each do |message| %>

        <% if message.user == Current.user %>
          <div class="d-flex justify-content-end mb-2">
            <div class="bg-primary text-white rounded-pill px-3 py-2 text-end">
              <%= message.content %>
            </div>
          </div>
        <% else %>
          <div class="d-flex justify-content-start mb-2">
            <div class="bg-light rounded-pill px-3 py-2">
              <%= message.content %>
            </div>
          </div>
        <% end %>

      <% end %>
      <%= form_with model: [@room, Message.new] do |f| %>
      <%= f.text_field :content %>
       <%= f.submit "送信" %>
      <% end %>


    </div>

  </div>
</div>

